version: '3.8'

services:
  db:
    image: mariadb:10.6
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 8326
      MYSQL_DATABASE: gymtrack_pro
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build: ./backend
    restart: always
    environment:
      DATABASE_URL: mysql+pymysql://root:8326@db/gymtrack_pro
      SECRET_KEY: gymtrack-secret-key
      JWT_SECRET_KEY: jwt-secret-key
    ports:
      - "5000:5000"
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    depends_on:
      - backend

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: "8326"
    ports:
      - "8081:80"
    depends_on:
      - db

volumes:
  db_data:
